@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f6fb;
  font-family: Inter, sans-serif;
}

.input {
  @apply p-2 border rounded-lg outline-none focus:ring-2 focus:ring-indigo-600;
}
